.main__input-label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3b633a8;
  width: 140px;
  height: 40px;
  font-size: 12px;
  border-radius: 5px;
  margin-right: 30px;
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .main__input-label {
    height: 20px
  }
}