.intro {
  display: flex;
  background-color: black;
  height: 100vh;

  font-size: 20px;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 600px) {
  .intro {
    padding: 20px;
  }
}