.main__textarea {
  width: 100%;
  font-size: 16px;
  height: 59px;
  padding: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .main__textarea {
    font-size: 14px;
    height: 28px;
  }
}