.main__list-messages {
  height: calc(100vh - 170px);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  .main__list-messages {
    height: calc(100vh - 450px);
  }
}